@import "../../../styles.scss";

.herosvg {
  &__lines {
    opacity: 0.2;
    transition: all 0.4s ease-in-out;
  }
  &__brackets {
    opacity: 0.2;
    transition: all 0.5s ease-in-out;
  }
  &:hover .herosvg__lines {
    opacity: 1;
  }
  &:hover .herosvg__brackets {
    opacity: 1;
  }
}
