* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  transition: all 0.4s ease-in-out;
}
.darkMode {
  background-color: $primary;
  color: $secondary;
}

.ligthMode {
  background-color: $secondary;
  color: $primary;
}
