@import "../../styles.scss";
.menu {
  background-color: transparent;
  &__button {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    margin: 15px;
    z-index: 1000;
    cursor: pointer;
    &__bar1 {
      height: 5px;
      width: 40px;
      margin: 3px;
      background-color: $fourth;
      z-index: 1000;
      position: absolute;
      top: 20%;
      left: 0%;
    }
    &__bar2 {
      height: 5px;
      width: 40px;
      margin: 3px;
      background-color: $fourth;
      z-index: 1000;
      position: absolute;
      top: 40%;
      left: 0%;
    }
    &__bar3 {
      height: 5px;
      width: 40px;
      margin: 3px;
      background-color: $fourth;
      z-index: 1000;
      position: absolute;
      top: 40%;
      left: 0%;
    }
    &__bar4 {
      height: 5px;
      width: 40px;
      margin: 3px;
      background-color: $fourth;
      z-index: 1000;
      position: absolute;
      top: 60%;
      left: 0%;
    }
  }
  &__links {
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: repeating-linear-gradient(
        67.5deg,
        hsla(145, 0%, 97%, 0.2) 0px,
        hsla(145, 0%, 97%, 0.2) 0px,
        transparent 0px,
        transparent 1px,
        hsla(145, 0%, 97%, 0.2) 1px,
        hsla(145, 0%, 97%, 0.2) 4px,
        transparent 4px,
        transparent 5px,
        hsla(145, 0%, 97%, 0.2) 5px,
        hsla(145, 0%, 97%, 0.2) 8px
      ),
      repeating-linear-gradient(
        0deg,
        hsla(145, 0%, 97%, 0.2) 0px,
        hsla(145, 0%, 97%, 0.2) 0px,
        transparent 0px,
        transparent 1px,
        hsla(145, 0%, 97%, 0.2) 1px,
        hsla(145, 0%, 97%, 0.2) 4px,
        transparent 4px,
        transparent 5px,
        hsla(145, 0%, 97%, 0.2) 5px,
        hsla(145, 0%, 97%, 0.2) 8px
      ),
      linear-gradient(135deg, rgb(166, 153, 146), rgb(166, 153, 146));
    top: 0%;
    left: 0%;
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  & li {
    opacity: 0;
    list-style: none;
    position: relative;
    z-index: 10000000;
    & a {
      text-decoration: none;
      color: $fifth;
      font-size: map-get($fs, m);
      position: relative;
      z-index: 10000000;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      transition: all 0.3s ease-in-out;
      border-bottom: 5px solid transparent;
    }
    &:hover::after {
      border-bottom: 5px solid $fourth;
      width: 100%;
    }
  }
}
