@import "../../styles.scss";

.home {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    border-left: 5px solid $third;
    padding-left: 10px;
    &__name {
      font-family: $primaryFont;
      font-size: map-get($fs, xl);
      overflow-wrap: break-word;
      word-wrap: break-word;
      font-weight: 900;
    }
    &__job {
      font-family: $secondaryFont;
      font-size: map-get($fs, m);
      font-weight: 500;
      overflow-wrap: break-word;
      word-wrap: break-word;
      margin-top: -25px;
    }
  }
}
